html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End css reset*/

body {
	text-align: center;
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace;
	background-color: #E6E6E6;
}

h1 {
	font-size: 300%;
	margin: 16px 10px 16px;
	}

p {
	font-size: 16px;
	line-height: 1.2em;
	margin: 10px 10%;
}

.round-canvas {
	/* border: 20px solid white; */
	border-radius: 20px;
}
.round-image {
	/* border: 20px solid white; */
	border-radius: 20px;
}

.button-container {
	margin: 20px;
}
.button {
	border-radius: 10px;
	background-color: white;
	color: black;
	padding: 10px;
	/*
	background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 2% 8px;
    width: 100px;
    font-weight: bold;
    font-family: helvetica;
    border-radius: 10px;*/
}

a:hover {
	box-shadow: 0 4px 4px black;
}

#sketch-container {
	position: relative;
	width: 800px;
	margin: 10px auto;
}
